::ng-deep .p-confirm-dialog .p-button {
    border: none !important;
    outline: none !important;
}

::ng-deep .p-fileupload .p-button {
    border: none !important;
    outline: none !important;
}

.p-button {
    outline: none !important;
    box-shadow: none !important;
}

.hidden-input {
    display: none;
}

.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes p-progress-spinner-color {
    100%,
    0% {
        stroke: #FB72BD !important;
    }
    90% {
        stroke: #FBB371 !important;
    }
    
}